:root {
  --primary-color: #f9f6f7;
  --secondary-color: #ff971d;
  --tertiary-color: #ffe8d6;
  --primary-font: "Comfortaa", cursive;
}

body {
  background: var(--primary-color);
  margin: 0 auto;
  text-align: center;
  color: var(--secondary-color);
}

.centre {
  padding: 70px;
}

h1 {
  font-family: Arial;
}

.main-title {
  font-family: var(--primary-font);
  font-size: 70px;
  font-style: bold;
}

.navbar-brand {
  color: var(--secondary-color);
}

.nav-item {
  color: var(--secondary-color);
}

.btn-branding {
  background: var(--secondary-color);
  border-radius: 4px;
  color: var(--primary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

img {
  max-width: 250px;
}

.container {
  text-align: center;
}

p {
  font-size: 20px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.fa-brands {
  font-size: 50px;
}

a {
  color: var(--secondary-color);
}

a:hover {
  color: var(--secondary-color);
}
